@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');


*{

    margin: 0;
    padding: 0;
    color: #fcf7f7;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
  }
  
 body{
    background: #161616;

 }

 
header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
   box-shadow: 0 0 10px rgb(243, 241, 241);
   background: black;
}
 

i{
    color: #fff;
    cursor: pointer;
    
    
}
ul li i{
    padding-left: 100px;

}
header .logo{
    flex: 2;
    color:#f50707;
     
    margin-left: 50px;
    
    font-size: 12px;
}
header .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#575555;
    border-radius: 30px;
    color:gray;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 60px;
    text-align: center;
     
}
 
.search-box button{
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: rgb(81, 82, 81);
    color: #424040;
}
header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    
    color:#fff;
   
    
    padding: 5px 2px;
}

header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
   
  
}


 .contain {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
 .container-text{
    text-align: center;
    margin-top: -30px;

}

 .cards {
    width: 400px;
    height: 300px;
    background-color: rgba(7, 7, 7, 0.5);
    border-radius: 16px;
    display: flex;
    flex-direction:column;
    align-items: center;
    box-shadow: rgba(241, 3, 3, 0.521) 0px 7px 29px 0px;
    
}

 .profile-img {
    width: 100px;
    border-radius: 40%;
    border: #08000a 5px solid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateY(-65px);
}
 




 .certificado {
    align-items: flex-start;
    padding-bottom: -5px;
    padding-right: 300%;
   
    
    
}


img{
    width: 100px;
    height: 100px;
}
h2{
    font-size: medium;
}

footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #0c0c0c;
    padding: 0px 10%;
}

ul{
    list-style: none;
}
.footer-col{
    width: 25%;
}

.footer-col h4{
    position: relative;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 12px;
    color: #f3f1ea;
    text-transform: capitalize;
}



.footer-col ul li:not(:last-child){
    margin-bottom: 5px;
    
}

.footer-col ul li a{
    display: block;
    font-size: 5px;
    text-transform: capitalize;
    color: #a59d9d;
    text-decoration: none;
    transition: 0.4s;
}

.footer-col ul li a:hover{
    color: white;
    padding-left: 2px;
}

.links a{
    display: inline-block;
    height: 35px;
    width: 35px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 5px 5px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

.links a:hover{
    color: #4d4f55;
    background-color: white;
}
.footer-col ul li{
    color: #fff;
    font-size: 9px;
    
}
.footer-p{
    color:#fff;
    font-size: 9px;
}
